.cardWrapper {
  height: 100%;
  border: 3px solid #278d9f;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, 0.3);
}

.img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.title {
  text-align: center;
  font-weight: bold;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.info {
  display: flex;
  justify-content: space-between;

  span {
    font-weight: bold;
    color: #42ba2c;
  }
}
