.header {
  background: #352a2a;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 20px;

  span {
    margin-left: auto;
  }
}

.navLink {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.active {
  color: #f90;
}

.navLink:hover {
  color: #d35f2a;
}
